@model RedSocial.Models.Publicacion

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Publicacion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Texto" class="control-label"></label>
                <input asp-for="Texto" class="form-control" />
                <span asp-validation-for="Texto" class="text-danger"></span>
            </div>
            
            //BORRAR ESTE CAMPO UNA VEZ DEPURADO INCORPORADO EL LOGUIN
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label"></label>
                <select asp-for="UserEmail" class ="form-control" asp-items="ViewBag.UserEmail"></select>
            </div>
            <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input asp-for="Imagen" class="form-control" type="file" accept=".jpg" name="imagenes" id="imagenes" multiple/>
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
