@model IEnumerable<RedSocial.Models.Publicacion>
@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="text-center">
        <h1> Bienvenido a la Red Social mas grande de Latinoamérica</h1>
        <img src="../images/homebg.webp" class="d-block w-100 img-fluid" alt="Responsive image" />
    </div>
</div>
