@{
    ViewData["Title"] = "Politica de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>Nos reservamos todos los derechos sobre las imagenes subidas a nuestra plataforma, nos comprometemos a no divulgar datos personales</p>
